.flavorsMainDiv {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 18px;
    height: 5vw;
    width: 90%;
}
.flavorName {
    font-family: "A Bold";
    font-size: 15px;
    margin: 0%;
}
.comingsoonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;margin-top: 1%;
}
.commingSoonTamarind {
    font-family: "A Bold";
    font-size: 8px;
    position: absolute;
    top: 87%;
    left: 82%;
}
.commingSoon {
    font-family: "A Bold";
    font-size: 8px;
    width: 128%;
    margin: 0%;
    text-align: center;
    margin: 0%;
}
@media only screen and (min-width: 1000px ){
    .flavorsMainDiv {
        border-radius: 28px;
    }
    .flavorName {
        font-size: 17px;
    }
    .commingSoonTamarind {
        font-size: 10px;
    }
    .commingSoon {
        font-size: 10px;
    }
}
@media only screen and (min-width: 1300px){
    .flavorsMainDiv {
        border-radius: 58px;
    }
    .flavorName {
        font-size: 25px;
    }
    .commingSoonTamarind {
        font-size: 12px;
    }
    .commingSoon {
        font-size: 12px;
    }
}
@media only screen and (min-width: 1500px) {
    .flavorName {
        font-size: 29px;
    }
    .commingSoonTamarind {
        font-size: 14px;
    }
    .commingSoon {
        font-size: 14px;
    }
}