.headerMainDivDesk {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.headerTag {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: white;
    height: 6vw;
    border-radius: 0px 0px 15px 15px;
    position: relative;
}
.leftItems {
    display: flex;
    flex-direction: row;
}
.rightItems {
    display: flex;
    flex-direction: row;
}
.headerLogo {
    position: absolute;
    top: 0%;
    left: 44%;
    width: 13%;
}