.redesCardMainDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center ;
}
.redesCardMainDiv img {
    width: 14px;
    margin-right: 5px;
}
.redesCardMainDiv p {
    font-family: "A Condensed";
    font-size: 12px;
} 