body {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 ;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.homeFristSectionDesk {
    background-image: url(../images/desktop/index/bannerHomeDesk.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 66%;

}
.homeSecondSectionDesk {
    background-image: url(../images/desktop/index/sabores-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 66%;
    position: relative;
}
.flavorsContainer {
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0%;   
    flex-direction: column; 
}
.flavorsCoinatiner2 {
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 9%;   
    flex-direction: column; 
}
.tempting {
    font-family: "A Bold";
    color: white;
    width: 46%;
    text-align: center;
}
.tempting span{
    font-family: "A Condensed";
}
.homeThirdSectionDesk {
    background-image: url(../images/desktop/index/sabores-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 58%;
    position: relative;

}
.homeFourthsectionDesk {
    background-image: url(../images/desktop/index/Formas.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fourthSectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 90%;
    top: 12%;
    padding-left: 3%;
}
.fourthSectionLeftDiv {
    width: 20%;
}
.fourthSectionRightDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 78%;
}
.indexImageRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.indexImageRow img {
    width: 30%;
    margin: 1%;
}
.findOut {
    font-family: "A Regular";
    color: black;
    font-size: 16px;
    line-height: 24px;
    width: 80%;
}
.findOut span {
    font-family: "A Bold";
    color: #FF9830
}
.homeFifthSectionDesk {
    display: flex;
    flex-direction: column;

}
.partnerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #CD3A42;
    height: 14vw;
}
.partnerIn {
    font-family: "A Bold";
    color: white;
    font-size: 18px;
    width: 30%;
}
.partnerIn span {
    font-family: "A Condensed";
}
@media only screen and (min-width: 900px ){
    .findOut {
        font-size: 23px;
        line-height: 28px;
        width: 100%;
    }
    .partnerIn {
        font-size: 23px;
        width: 29%;
    }
}
@media only screen and (min-width: 1300px){
    .tempting {
        font-size: 39px;
    }
    .findOut {
        font-size: 30px;
        line-height: 44px;
        width: 100%;
    }
    .partnerIn {
        font-size: 30px;
        width: 29%;
    }
}  
@media only screen and (min-width: 1500px) {
    .tempting {
        font-size: 45px;
    }
    .findOut {
        font-size: 35px;
        line-height: 47px;
    }
    .partnerIn {
        font-size: 36px;
        width: 29%;
    }
}

@media only screen and (min-width: 2000px) {
    
}
/* @media only screen and (min-width: 1500px) {
    
} */